* {
   font-family: 'Julius Sans One', sans-serif;
}

body {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.mainwrapper {
    min-height: 100%;
}

.loader {
    border: 16px solid #ccc;
    border-top: 16px solid gold;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    margin-top: 10%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#resultTable { line-height: 15px; }
#resultTable td { padding: 10px; }

#tableContainer {
    display: table;
    margin: 0 auto;
}

#winner {
    color: #dbc100;
    font-size: 35px;
}

.avatar, .rankimg {
    width: 50px;
    height: 50px;
}

#github {
     width: 25px;
    height: 25px;
    margin-left: 10px;
}

.error-toast {
    display: none;
    width: 150px;
    height: 150px;
    padding: 20px;
}

.slowbroInfoToast {
    display: none;
    background-color: #20bc4f;
    width: 25%;
    padding: 25px;
    top:0;
    position: absolute;
    margin-top: 12em;
}

.slowbroInfoToast p {
  color: #feffff;
}


/*nav styles*/
.navbar-static-top {
    left: 0;
    width: 100%;
    height: 12em;
    background: url('https://images4.alphacoders.com/553/553496.jpg') no-repeat 50%;
    background-size: cover;
    box-shadow: 0 4px 2px -2px gray;
}

/* FOOTER */
 .footer {
     background-color: rgba(0, 0, 0, .8);
     margin: 0 auto;
     width: 100%;
     padding-top: 25px;
     height: 5em;
     bottom: 0;
     left: 0;
}

.navbar-header-bottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.navbar-header-bottom p{
    text-align: center;
   color: #feffff;
}